<div class="hexa-input-text" [class.hasError]="hasError()" hexaRtl>
  @if (prefixIcon()) {
    <em
      [ngClass]="prefixIcon()"
      class="mb-0 ps-2"
      (click)="prefixMethod()()"
      (keydown)="prefixMethod()()"
    ></em>
  }

  @if (prefixText()) {
    <p
      class="text-nowrap mb-0 ps-2"
      (click)="prefixMethod()()"
      (keydown)="prefixMethod()()"
    >
      {{ prefixText() }}
    </p>
  }

  <input
    pInputText 
    [type]="type()"
    [id]="inputId()"
    [name]="inputName()"
    [(ngModel)]="value"
    [placeholder]="placeholder()"
    [required]="required()"
    [autocomplete]="autoComplete() ? 'on' : 'new-password'"
    [disabled]="disabled"
    [readonly]="readonly()"
    [hidden]="hidden()"
    [maxlength]="maxlength()"
    [class.noBorder]="withoutBorder()"
    [class.hasError]="hasError()"
    [class.paddingEnd]="suffixIcon() || suffixText() || (canClear() && value)"
    [class.paddingStart]="prefixIcon() || prefixText()"
    (input)="emitInputTextValue($event)"
    (blur)="onBlur()"
    (keydown.enter)="onEnter()"
  />

  @if (canClear() && value) {
    <em
      class="pi pi-times mb-0 px-4 suffix-icon"
      (click)="removeText()"
      (keydown)="removeText()"
    ></em>
  }

  @if (suffixIcon() && iconType() === 'icon') {
    <em
      [ngClass]="suffixIcon()"
      class="mb-0 px-4 suffix-icon"
      (click)="onSuffixIconClicked()"
    ></em>
  }

  @if (suffixIcon() && iconType() === 'image') {
    <img
      [src]="suffixIcon()"
      class="mb-0 px-4 suffix-icon"
      (click)="onSuffixIconClicked()"
    />
  }

  @if (suffixText()) {
    <p
      class="text-nowrap mb-0 pe-2"
      (click)="suffixMethod()()"
      (keydown)="suffixMethod()()"
    >
      {{ suffixText() }}
    </p>
  }
</div>