<p-multiSelect
  class="opus-multi-select w-100"
  [ngModel]="selectedValues()"
  [options]="options()"
  [optionLabel]="optionLabel()"
  [optionValue]="optionValue()"
  [placeholder]="placeholderText"
  [showHeader]="showHeader()"
  [showToggleAll]="showToggleAll()"
  [disabled]="disabled()"
  [filter]="!serverSideFiltering()"
  [readonly]="readonly()"
  [showClear]="showClear()"
  [maxSelectedLabels]="maxSelectedLabels()"
  [selectedItemsLabel]="selectedItemsLabel"
  [virtualScroll]="virtualScroll()"
  [virtualScrollItemSize]="itemSize()"
  [emptyMessage]="emptyMessageText"
  [emptyFilterMessage]="emptyFilterMessageText"
  [resetFilterOnHide]="!serverSideFiltering()"
  inputId="multiSelectInputId"
  appendTo="body"
  (ngModelChange)="onMultiSelectChange($event)"
  (onClear)="onClear()"
  (onPanelShow)="multiSelectShown.emit()"
  (onPanelHide)="multiSelectHidden.emit()"
  [ngClass]="{ 'red-border': hasError() }"
>
</p-multiSelect>