
:host {
  display: block;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header {
  height: 64px;
  padding: 12px 35px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  background: linear-gradient(90deg, #eef5f6 0%, #f7fbfb 55%, #ffffff 100%);
  border-bottom: 1px solid #e2e8f0;
  .header-actions{
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
