<header class="header">

  <div class="search-box">
    <hexa-input-text prefixIcon="pi pi-search" [placeholder]="'Quick Search'"></hexa-input-text>
  </div>

  <div class="header-actions">
    <hexa-button label="Create" [icon]="'pi pi-plus'" [iconPos]="'left'"></hexa-button>
    <hexa-button  [severity]="'secondary'" label="ع" [icon]="'pi pi-language'" [iconPos]="'left'"></hexa-button>
    <hexa-button  [severity]="'secondary'" [icon]="isDarkMode ? 'pi pi-sun':'pi pi-moon'" [iconPos]="'center'"></hexa-button>
    <hexa-button  [severity]="'secondary'" [icon]=" 'pi pi-comments'" [iconPos]="'center'"></hexa-button>

  </div>

</header>
