<p-inputNumber
  class="opus-input-number"
  [maxFractionDigits]="maxFractionDigits()"
  inputStyleClass="font-medium-medium"
  [ngModel]="selectedValue()"
  (ngModelChange)="selectedValue.set($event)"
  [showButtons]="showButtons()"
  buttonLayout="stacked"
  [min]="minimum()!"
  [max]="maximum()!"
  mode="decimal"
  [useGrouping]="thousandsSeparator()"
  [disabled]="disabledState"
  [placeholder]="placeholder()"
  [maxlength]="maxlength()!"
  (onInput)="onInput($event)"
  (onBlur)="onBlur()"
  class="w-100"
></p-inputNumber>