<div class="form-section card p-4">
  <div class="d-flex align-items-center gap-2 mb-3">
    <span class="icon-wrapper">
      <i class="pi pi-file"></i>
    </span>

    <h3 class="section-title">
      {{ 'employee.documents.title' | translate }}
    </h3>
  </div>

  <small class="text-muted d-block mb-3">
    {{ 'employee.documents.supported_formats' | translate }}
  </small>

  <div class="d-flex align-items-end gap-2 mb-4 my-2">
    <div>
      <label class="form-label">
        {{ 'employee.documents.document_label' | translate }}
      </label>

      <input
        type="text"
        class="form-control p-2 w-100"
        [placeholder]="'employee.documents.document_label_placeholder' | translate"
        [(ngModel)]="label"
        name="documentLabel"
      />
    </div>

    <hexa-button
      (clicked)="triggerUpload()"
      icon="opus-icon-upload"
      [label]="'employee.documents.upload' | translate">
    </hexa-button>

    <input
      #fileInput
      type="file"
      class="d-none"
      accept="image/jpeg,image/png,image/gif,image/bmp,application/pdf"
      (change)="onFileSelected($event)"
    />
  </div>

  @if (error()) {
    <small class="text-danger d-block mb-3">
      {{ error() }}
    </small>
  }

  @if (items().length) {
  <table class="table documents-table">
    <thead>
      <tr>
        <th>{{ 'employee.documents.document' | translate }}</th>
        <th>{{ 'employee.documents.file' | translate }}</th>
        <th>{{ 'employee.documents.date' | translate }}</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      @for (item of items(); track item.id) {
        <tr>
          <td>{{ item.label }}</td>

          <td>
            <a class="text-primary file-link" (click)="downloadFile(item)">
              <em class="pi pi-file"></em>
              {{ item.file?.name ?? item.fileUrl }}
            </a>
          </td>

          <td>{{ item.date | date: 'dd/MM/yyyy' }}</td>

          <td class="text-end">
            <button
              type="button"
              class="btn btn-outline-danger btn-sm"
              (click)="removeItem(item.id)"
            >
              <em class="pi pi-trash"></em>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
} @else {
  <div class="no-documents">
    <i class="pi pi-upload"></i>
    <span>{{ 'employee.documents.no_documents' | translate }}</span>
  </div>
}
</div>