<div class="stepper">
  @for (s of steps(); track s.label; let i = $index) {
    <div
      class="step"
      [ngClass]="{
        active: step() === i + 1,
        completed: i + 1 < maxStep(),
        upcoming: i + 1 > maxStep()
      }"
      (click)="goToStep(i)"
    >
      <div class="step-content">

        <div class="step-circle">
          @if (i + 1 < maxStep()) {
            <em class="pi pi-check-circle"></em>
          } @else {
            {{ i + 1 | number: '2.0' }}
          }
        </div>

        <div class="step-text">
          <div class="step-title">
            {{ s.label | translate }}
          </div>

          <div class="step-subtitle">
            {{ s.subtitle | translate }}
          </div>
        </div>

      </div>
    </div>

    @if (i < steps().length - 1) {
      <div class="step-separator">
        <em class="opus-icon-chevron-right"></em>
      </div>
    }
  }
</div>

