<div class="container-fluid">
  <form [formGroup]="assignationForm()" class="assignation-form">

    <!-- ============ Card 1: Assignation Structure ============ -->
    <div class="card">
      <div class="d-flex align-items-center gap-2 mb-3">
        <span class="icon-wrapper">
          <i class="pi pi-user"></i>
        </span>

        <h3 class="section-title">
          {{ 'employee.assignation.assignation_structure' | translate }}
        </h3>
      </div>

      <div class="row">

        <!-- Company -->
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="field">
            <label>
              {{ 'employee.assignation.company' | translate }}
              <span class="text-danger">*</span>
            </label>

            <hexa-multi-select
              [options]="companiesOptions"
              optionLabel="name"
              optionValue="companyId"
              formControlName="company"
              [placeholder]="'employee.assignation.company_placeholder' | translate"
              (multiSelectChanged)="onCompanyChange($event)">
            </hexa-multi-select>

            @if (
              assignationForm().get('company')?.invalid &&
              assignationForm().get('company')?.touched
            ) {
              <div class="text-danger">
                {{ 'employee.assignation.company_required' | translate }}
              </div>
            }
          </div>
        </div>

        <!-- Branch -->
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="field">
            <label>
              {{ 'employee.assignation.branch' | translate }}
              <span class="text-danger">*</span>
            </label>

            <hexa-multi-select
              [options]="branchsFilteredOptions"
              optionLabel="name"
              optionValue="branchId"
              formControlName="branch"
              [placeholder]="'employee.assignation.branch_placeholder' | translate"
              (multiSelectChanged)="onBranchChange($event)">
            </hexa-multi-select>

            @if (
              assignationForm().get('branch')?.invalid &&
              assignationForm().get('branch')?.touched
            ) {
              <div class="text-danger">
                {{ 'employee.assignation.branch_required' | translate }}
              </div>
            }
          </div>
        </div>

        <!-- Department -->
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="field">
            <label>
              {{ 'employee.assignation.department' | translate }}
              <span class="text-danger">*</span>
            </label>

            <hexa-multi-select
              [options]="departmentFilteredOptions"
              optionLabel="name"
              optionValue="departmentId"
              formControlName="department"
              [placeholder]="'employee.assignation.department_placeholder' | translate"
              (multiSelectChanged)="onDepartmentChange($event)">
            </hexa-multi-select>

            @if (
              assignationForm().get('department')?.invalid &&
              assignationForm().get('department')?.touched
            ) {
              <div class="text-danger">
                {{ 'employee.assignation.department_required' | translate }}
              </div>
            }
          </div>
        </div>

        <!-- Team -->
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="field">
            <label>
              {{ 'employee.assignation.team' | translate }}
              <span class="text-danger">*</span>
            </label>

            <hexa-multi-select
              [options]="teamFilteredOptions"
              optionLabel="name"
              optionValue="teamId"
              formControlName="team"
              [placeholder]="'employee.assignation.team_placeholder' | translate"
              (multiSelectChanged)="onTeamChange($event)">
            </hexa-multi-select>

            @if (
              assignationForm().get('team')?.invalid &&
              assignationForm().get('team')?.touched
            ) {
              <div class="text-danger">
                {{ 'employee.assignation.team_required' | translate }}
              </div>
            }
          </div>
        </div>

      </div>
    </div>


    <!-- ============ Card 2: Roles & Permissions ============ -->
    <div class="card">
      <div class="d-flex align-items-center gap-2 mb-3">
        <span class="icon-wrapper">
          <i class="pi pi-user"></i>
        </span>

        <h3 class="section-title">
          {{ 'employee.assignation.role_and_permission' | translate }}
        </h3>
      </div>

      <div formArrayName="roles" class="roles-section">

        @for (role of rolesArray.controls; track role; let i = $index) {

          <div
            [formGroupName]="i"
            class="row role-row mb-3 align-items-end">

            <!-- Role Type -->
            <div class="col-sm-12 col-md-4">
              <div class="field">
                <label>
                  {{ 'employee.assignation.role_type' | translate }}
                  <span class="text-danger">*</span>
                </label>

                <hexa-dropdown
                  [options]="roleTypes"
                  optionLabel="label"
                  optionValue="value"
                  formControlName="isSystemRole"
                  [placeholder]="'employee.assignation.role_type_placeholder' | translate"
                  (dropdownChanged)="onRoleTypeChanged($event, i)">
                </hexa-dropdown>

                @if (
                  role.get('isSystemRole')?.invalid &&
                  role.get('isSystemRole')?.touched
                ) {
                  <div class="text-danger">
                    {{ 'employee.assignation.role_type_required' | translate }}
                  </div>
                }
              </div>
            </div>


            <!-- Role & Permission Name -->
            <div class="col-sm-12 col-md-4">
              <div class="field">
                <label>
                  {{ 'employee.assignation.role_permission_name' | translate }}
                  <span class="text-danger">*</span>
                </label>

                <hexa-dropdown
                  [options]="role.get('roleOptions')?.value"
                  optionLabel="name"
                  optionValue="id"
                  formControlName="roleId"
                  [placeholder]="'employee.assignation.role_permission_placeholder' | translate"
                  (dropdownChanged)="onRoleChanged($event, i)">
                </hexa-dropdown>
              </div>

              @if (
                role.get('roleId')?.invalid &&
                role.get('roleId')?.touched
              ) {
                <div class="text-danger">
                  {{ 'employee.assignation.role_name_required' | translate }}
                </div>
              }
            </div>


            <!-- Main Head Hierarchy -->
            <div class="col-sm-12 col-md-4">
              <div class="field">

                <label>
                  {{ 'employee.assignation.main_head_hierarchy' | translate }}

                  @if (role.get('isMainRole')?.value) {
                    <span class="text-danger">*</span>
                  }
                </label>

                <hexa-dropdown
                  [options]="role.get('headOptions')?.value"
                  optionLabel="name"
                  [optionValue]="role.get('headValueField')?.value"
                  formControlName="mainHeadHierarchy"
                  [placeholder]="'employee.assignation.main_head_hierarchy_placeholder' | translate"
                  (dropdownChanged)="onMainHeadChanged($event, i)">
                </hexa-dropdown>

                @if (
                  role.get('mainHeadHierarchy')?.invalid &&
                  role.get('mainHeadHierarchy')?.touched
                ) {
                  <div class="text-danger">
                    {{ 'employee.assignation.main_head_hierarchy_required' | translate }}
                  </div>
                }

              </div>
            </div>


            <!-- More Head Hierarchy -->
            <div class="col-sm-12 col-md-4">
              <div class="field">

                <label>
                  {{ 'employee.assignation.more_head_hierarchy' | translate }}
                </label>

                <hexa-multi-select
                  [options]="getFilteredHeadOptions(i)"
                  optionLabel="name"
                  [optionValue]="role.get('headValueField')?.value"
                  formControlName="headHierarchy"
                  [placeholder]="'employee.assignation.more_head_hierarchy_placeholder' | translate">
                </hexa-multi-select>

              </div>
            </div>


            <!-- Default Role -->
            <div class="col-sm-12 col-md-12">
              <hexa-button
                [label]="'employee.assignation.default' | translate"
                [icon]="
                  role.get('isMainRole')?.value
                    ? 'pi pi-check'
                    : 'pi pi-cog'
                "
                [styleClass]="
                  role.get('isMainRole')?.value
                    ? 'active-default'
                    : ''
                "
                severity="primary"
                (clicked)="setDefaultRole(i)">
              </hexa-button>
            </div>


            <!-- Delete Role -->
            @if (rolesArray.length > 1) {
              <div class="col-sm-12 col-md-12 delete-role text-center">
                <button
                  type="button"
                  (click)="removeRole(i)">
                  <i class="pi pi-trash"></i>
                </button>
              </div>
            }

          </div>
        }


        <!-- Add Another Role -->
        <a
          class="add-role"
          (click)="addRole()">

          <span>
            <i class="pi pi-plus"></i>
          </span>

          {{ 'employee.assignation.add_another_role' | translate }}

        </a>

      </div>
    </div>

  </form>
</div>

