@if (pDateSelectionMode() === 'single') {
  <p-datepicker
    [readonlyInput]="readonly()"
    [showButtonBar]="showButtonBar()"
    [todayButtonStyleClass]="'d-none'"
    #pCalendar
    [ngClass]="{ 'red-border': hasError() }"
    [ngModel]="value()"
    (ngModelChange)="onSingleChange($event)"
    [defaultDate]="defaultDate()!"
    [placeholder]="placeholder()"
    [timeOnly]="timeOnly()"
    selectionMode="single"
    [hourFormat]="timeFormat() === TimeFormat.FullDay ? '24' : '12'"
    [dateFormat]="pDateFormat()"
    [firstDayOfWeek]="firstDayOfWeek()"
    [disabledDates]="disabledDates()"
    [disabledDays]="disabledDays()"
    [minDate]="minDate()!"
    [maxDate]="maxDate()!"
    [disabled]="disabled()"
    [showIcon]="true"
    [iconDisplay]="'input'"
    [showTime]="showTime()"
    [appendTo]="'body'"
    class="w-100"
    [icon]="timeOnly() ? 'opus-icon-stop-watch' : 'opus-icon-calendar'"
    (onClose)="closeCalender.emit()">
    <ng-template pTemplate="date" let-date>
      <span [ngClass]="{ disabledMonth: isDisabledMonth(date.month) }">{{ date.day }}</span>
    </ng-template>
  </p-datepicker>
} @else {
  <p-datepicker
    #pCalendar
    [appendTo]="'body'"
    class="w-100"
    [readonlyInput]="readonly()"
    [showButtonBar]="showButtonBar()"
    [todayButtonStyleClass]="'d-none'"
    [ngClass]="{ 'red-border': hasError() }"
    inputStyleClass="font-regular-medium"
    [ngModel]="values()"
    (ngModelChange)="onMultiChange($event)"
    [defaultDate]="defaultDate()!"
    [placeholder]="placeholder()"
    [timeOnly]="false"
    [selectionMode]="pDateSelectionMode()"
    [hourFormat]="timeFormat() === TimeFormat.FullDay ? '24' : '12'"
    [dateFormat]="pDateFormat()"
    [firstDayOfWeek]="firstDayOfWeek()"
    [disabledDates]="disabledDates()"
    [disabledDays]="disabledDays()"
    [minDate]="minDate()!"
    [maxDate]="maxDate()!"
    [disabled]="disabled()"
    [showIcon]="true"
    [iconDisplay]="'input'"
    [showTime]="showTime()"
    [icon]="'opus-icon-calender'"
    (onClose)="closeCalender.emit()">
    <ng-template pTemplate="date" let-date>
      <span [ngClass]="{ disabledMonth: isDisabledMonth(date.month) }">{{ date.day }}</span>
    </ng-template>
  </p-datepicker>
}